@tailwind base;

@layer base {
  h1 {
    @apply text-6xl;
    @apply font-black;
  }
  h2 {
    @apply text-5xl;
    @apply font-bold;
  }
  h3 {
    @apply text-4xl;
    @apply font-medium;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --background: #012d5e;
  --font-color: #ffffff;
  --blue: #5882E3;
  --light-blue: #254870;
  --yellow: #ffc107;
  --red: #dc3545;
  --white: #fff;
}

html {
  background-color: var(--background);
}

.primary-text {
  color: var(--yellow);
}

.dark-text {
  color: #000;
}

.subtitle-text {
  color: var(--blue);
}

div, h1, h2, h3, p {
  color: var(--white);
}

input, select {
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
}

.patient-tab-item {
  height: 100px;
  width: 100px;
  border: 1px solid var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.patient-info-form-container {
  padding: 20px;
  border: 1px solid var(--light-blue);
}

.button {
  padding: 5px 15px;
  border-radius: 3px;
}

.primary-button {
  background-color: var(--yellow);
  color: #000;
}

.timeline-detail-container {
  border: 1px solid var(--yellow);
  padding: 20px;
}

.timeline-entry-form-container {
  padding: 20px;
  border: 1px solid var(--light-blue);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.patient-info-container {
  background-color: var(--yellow);
  border-radius: 100px;
  padding: 10px;
  text-align: center;
}

.timeline-entries-container {
  background-color: var(--light-blue); 
  padding: 20px;
  border-radius: 20px;
}