@tailwind base;

@layer base {
  h1 {
    @apply text-6xl;
    @apply font-black;
  }
  h2 {
    @apply text-5xl;
    @apply font-bold;
  }
  h3 {
    @apply text-4xl;
    @apply font-medium;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --background: #012d5e;
  --font-color: #ffffff;
  --blue: #5882E3;
  --light-blue: #254870;
  --yellow: #ffc107;
  --red: #dc3545;
  --white: #fff;
}

html {
  background-color: var(--background);
}

.primary-text {
  color: var(--yellow);
}

div, h1, h2, h3, p {
  color: var(--white);
}

.patient-tab-item {
  height: 100px;
  width: 100px;
  border: 1px solid var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.patient-tab {
  display: flex;
}